:root {
--blue-main-background: hsl(222, 26%, 31%);
--blue-toggle-background-keypad-background: hsl(223, 31%, 20%);
--blue-screen-background: hsl(224, 36%, 15%);
--dark-blue-key-background: hsl(225, 21%, 49%);
--dark-blue-key-shadow: hsl(224, 28%, 35%);
--red-key-background-toggle: hsl(6, 63%, 50%);
--dark-red-key-shadow: hsl(6, 70%, 34%);
--light-grayish-orange-key-background: hsl(30, 25%, 89%);
--grayish-orange-key-shadow: hsl(28, 16%, 65%);
--very-dark-grayish-blue: hsl(221, 14%, 31%);
--white: hsl(0, 0%, 100%);
--light-gray-main-background: hsl(0, 0%, 90%);
--grayish-red-keypad-background: hsl(0, 5%, 81%);
--very-light-gray-screen-background: hsl(0, 0%, 93%);
--dark-moderate-cyan-key-background: hsl(185, 42%, 37%);
--dark-cyan-key-shadow: hsl(185, 58%, 25%);
--Orange-key-background-toggle: hsl(25, 98%, 40%);
--dark-orange-key-shadow: hsl(25, 99%, 27%);
--light-grayish-yellow-key-background: hsl(45, 7%, 89%);
--dark-grayish-orange-key-shadow: hsl(35, 11%, 61%);
--very-dark-grayish-yellow: hsl(60, 10%, 19%);
--white-text: hsl(0, 0%, 100%);
--very-dark-violet-main-background: hsl(268, 75%, 9%);
--very-dark-violet-screen-background: hsl(268, 71%, 12%);
--Dark-violet-key-background: hsl(281, 89%, 26%);
--Vivid-magenta-key-shadow: hsl(285, 91%, 52%);
--Pure-cyan-key-backgroundtoggle: hsl(176, 100%, 44%);
--Soft-cyan-key-shadow: hsl(177, 92%, 70%);
--Very-dark-violet-key-background: hsl(268, 47%, 21%);
--Dark-magenta-key-shadow: hsl(290, 70%, 36%);
--light-yellow: hsl(52, 100%, 62%);
--very-dark-blue: hsl(198, 20%, 13%);
--White-text: hsl(0, 0%, 100%);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan';
}

#main-container {
    background-color: var(--blue-main-background); 
    padding-bottom: 37px;
}

nav {
     display: flex;
    justify-content: space-between;
    align-items: last baseline; 
    padding: 20px 30px 0px 30px;
    color: var(--white);
    margin-bottom: 20px;
}

nav h2 {
    font-size: 32px;
}

.the {
    margin-right: 30px;
    letter-spacing: 2px;
}

.btn-side {
    display: flex;
    align-items: last baseline;
    font-size: smaller; 
}


#toggle-container {
    width: 111px;
    height: 50px;
    color: var(--white);
    position: relative;
}

#red-container {
    position: relative;
    width: 58px;
    height: 18px;
    background-color: var(--blue-toggle-background-keypad-background);
    border-radius: 20px;
    left: 20px;
    top: 32px;
    border-radius: 14px;
    margin-top: 7px;
}

.redButton {
    width: 10px;
    height: 10px;
    background-color:red;
    border-radius: 50%;
    position: relative;
    top: 4px;
    left: 6px;
}

.translate1 {
    transform: translateX(0px);
    transition: .1s linear;
}

.translate2 {
    transform: translateX(17px);
    transform: .1s linear;
}

.translate3 {
    transform: translateX(35px);
    transition: .1s linear;
}


.theme-change {
    left: 22px;
    display: inline-block;
    position: absolute;
    top: 23px;
    color: black;
    text-align: center;
}

.toggle-txt {
    display: inline-block;
    width: 15px;
    padding-bottom: 20px;
    cursor: pointer;
    color: var(--white);
}


main {
    padding: 0px 30px 0px 30px;
}

#input-side {
    padding: 30px 20px 30px 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 7px;
    border: none;
    background-color: var(--blue-screen-background);
    margin-bottom: 25px;
    text-align: right;
    color: var(--white);
    font-size: 40px;
    font-family: 'League Spartan';
}

#number-section {
    background-color: var(--blue-toggle-background-keypad-background);
    margin: 15px 30px 15px 30px;
    border-radius: 7px;
    padding-bottom: 30px;
}

.num-container {
   display: flex;
   padding: 0px 40px;
   padding-top: 30px;
   justify-content: space-between;
   align-items: center;
}

 .middle {
     padding-top: 20px;
} 

.numerals {
    background-color: var(--light-grayish-orange-key-background);
    border-radius: 6px;
    width: 65px;
    height: 60px;
    font-size: 32px;
    box-shadow: 0px 4px 0px var(--grayish-orange-key-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--blue-screen-background);
    cursor: pointer;
}

.numerals:hover {
    background-color: var(--white);
}

.del {
    color: var(--white);
    background-color: var(--dark-blue-key-background);
    box-shadow: 0px 4px 0px var(--dark-blue-key-shadow);
    font-size: 20px;
}

#del:hover {
    background-color: hsl(224, 28%, 80%);
}

.reset {
    width: 145px;
    color: var(--white);
    background-color: var(--dark-blue-key-background);
    box-shadow: 0px 4px 0px var(--dark-blue-key-shadow);
    font-size: 20px;
}

#reset:hover {
    background-color:  hsl(224, 28%, 80%);
}

.equal {
    width: 145px;
    color: var(--white);
    background-color: var(--red-key-background-toggle);
    box-shadow: 0px 4px 0px var(--dark-red-key-shadow);
    font-size: 20px;
}

#equal:hover {
    background-color: hsl(6, 63%, 60%);
}


@media only screen and (min-width: 1000px) {
    #main-container {
        padding: 20px 370px;
    }

    #input-side {
        font-size: 60px;
        padding: 25px 20px;
    }

    .numerals {
        width: 120px;
        height: 65px;
    }

    .reset, 
    .equal {
        width: 270px;
    }
}